<html lang="en"><head>
    <meta charset="utf-8">
    <title>Bootswatch: Cosmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./style.css" media="screen">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" media="screen">
  </head>
  <body style="">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Domain Search</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="page-header" id="banner">
		     <div class="row">
	         	<div class="col-lg-8 col-md-7 col-sm-6">
	           		<h1>Google Trends + WhoIs</h1>
					<p class="lead">This service uses trending Google searches to find undeveloped domain names...</p>
					<p>
						<form action="trend_crawls" class="navbar-form navbar-left" role="search">
	                      <div class="form-group">
	                        <input id="search_query" name="search_query" type="text" class="form-control" data-query="<%= @fresh_names %>" placeholder="Search">
	                      </div>
	                      <button type="submit" class="btn btn-default">Query</button>
	                    </form>
                	</p>
	         	</div>
                <div id="domain_hot_spot" class="col-sm-5" style="margin-top: 16px;"></div>
	       	 </div>
	     </div>
		<div id="domain_table_view">
			<table id="domain_name_table">
				<thead>
		            <tr>
		                <th>domain</th>
					    <th>domain_id</th>
					    <th>status</th>
					    <th>available?</th>
					    <th>registered?</th>
					    <th>created_on</th>
					    <th>updated_on</th>
					    <th>expires_on</th>
		            </tr>
		        </thead>
		        <tbody>
					<% @domain_names.each do |domain| %>
						<!-- <a class="domain_link" data-target-content="domain_hot_spot"><%= domain.domain %></a> -->
						<tr>
							<td><a href="http://<%= domain.domain %>" target="_blank"><%= domain.domain %></a></td>
						    <td><%= domain.domain_id %></td>
						    <% if domain.available? %>
						    	<td><span style="color: green;" ><%= domain.status %></span></td>
						    <% else %>
						    	<td><span style="color: red;" ><%= domain.status %></span></td>
						    <% end %>
						    <td><%= domain.available? %></td>
						    <td><%= domain.registered? %></td>
						    <td><%= domain.created_on %></td>
						    <td><%= domain.updated_on %></td>
						    <td><%= domain.expires_on %></td>
						</tr>
					<% end %>
				</tbody>
		    </table>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
	<script>
		$(function(){
			$('#domain_name_table').DataTable();
			
			var search_query = JSON.parse($("#search_query").attr("data-query"));
			
			search_query.forEach(function(domain_name_to_lookup){
				$.get("http://localhost:3000/trend_crawls/"+domain_name_to_lookup,function(data){
					var record = data;
					var row = $("<div>").addClass("row");
					var propert_field = $("<a>").text(data.domain);
					propert_field.css('float','left');
					propert_field.attr('href', "http://" + data.domain);
					propert_field.attr('target', "_blank");
					row.append(propert_field);
					var status_color = undefined;
					if(data.status === "available"){
						status_color = "green";
					}else{
						status_color = "red";
					}
					var value_field = $("<div>").text(data.status);
					value_field.css('color',status_color);
					value_field.css('float','right');
					row.append(value_field);
					$("#domain_hot_spot").append(row);
				});
			});
		});
		function parse_whois(record,html){
			for(var k in record){
				if (['disclaimer'].indexOf(k) < 0) {
				    html = add_detail(k,record[k],html);
				}
			}
			return html;
		}
		function add_detail(key,value,html){
			html.append($("<div>").append("<b>"+key+":</b> "+value));
			return html;
		}
	</script>
  

</body></html>